body {
    font-family: sans-serif;
}

header {
    background: #d9ffff;
    padding: 30px;
}

.rounded-sushi {
    width: 75px;
}

nav {
    text-align: left;
}

.btn {
    padding: 8px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.green { background: #19ff7a; }
.gray  { background: #9e9e9e; }

h1 {
    color: #666;
    text-align: center;
}

.text {
    text-align: center;
}


.food {
    width: 320px;
    border-radius: 40px;
    margin-left: 160px;
}

.advantages {
    background: #ffe88a;
    padding: 40px;
    position: relative;
    height: 150px;
    width: 750px;
}


.child {
    width: 280px;
    position: absolute;
    left: 40px;
}


ul {
    position: absolute;
    left: 360px;
    top: 40px;
    width: 400px;
}

.title {
    font-size: 22px;
    margin-bottom: 15px;
    color: white
}

li {
    color: white;
    margin-bottom: 10px;

}

.content {
    margin-top: 180px;
    text-align: center;
}


.content h1 {
    color: #8c8c8c;
    font-size: 28px;
    margin-bottom: 30px;
}


.klass {
    background: #00ff00;
    color: #ffffff;
    border: none;
    padding: 12px 40px;
    border-radius: 6px;
    font-size: 16px;
    margin-left: 40%;
}


.footer {
    background: #6b6b6b;
    color: #ffffff;
    text-align: center;
    padding: 15px 10px;
    font-size: 14px;
    margin-top: 200px;
}

.footer p {
    margin: 3px 0;
}
